body {
	background-image: url(https://raw.githubusercontent.com/marvindanig/just-be/master/assets/images/Page11FINALIMAGE.jpg);
	background-size: 200% 100%
	background-position: left center;
    height: 100vh;
    background-size: 200% 100%;
    color: white;	
}

.desc{
    top: 5vh;
    left: 14vw;
}

